#bold {
    font-weight: bold;
}

#highlight {
    display: inline-block;
    background-color: yellow;
}

h3 {
    text-decoration: underline;
}

#catsenses {
    padding-left: 50px;
}

ol {
    list-style-type: upper-roman;
}