ul {  
        list-style-type: none;
      }

li {
    padding-top: 15px;
}

button {
    margin-top: 10px;
}

#signin {
    font-size: small;
    float: right;
}

#navbar {   
    padding: 1px 80px;
    margin: auto;
}

#body {
    background-image: url(pexels-samforson-154246.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
}

form {
    text-align: center;
    font-size: medium;
}

#submit {
    margin: 50px 0;
    border-radius: 3px;
    border: 1px solid rgb(55, 169, 235);
    color: white;
    background-color: rgb(55, 169, 235);
}

h1 {
    padding-top: 200px;
    text-align: center;
    color: white;
}

.minicontainer > h1 {
    color: blue;
    font-size: medium;
    font-weight: normal;
}

.minicontainer > p {
    color: grey;
    font-size: small;;
}

.minicontainer {
    text-align: center;
    width: 32%;
    display: inline-block;
}