* {
    margin: 0;
}

#navbar {
    background-color: grey;
    width: 100%;
}

li {
    list-style: none;
    color: black;
    display: inline;
}

.navbar-brand img {
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

#container {
    background-image: url(wallpapersden.com_marvel-moon-knight-superhero_3840x2160.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    background-position: center;
}

#description {
    color: black;
    font-size: larger;
    margin-top: 500px;
    text-align: center;
}