* {
    margin: 0
   }

#navbar {
    background-color: black;
    padding: 20px;
}

ul {
    display:block;
    list-style-type: none;
    padding: 0 70px;
  }

  #products {
    color: white;
    float: right;
  }

  #products a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

    a:visited {
    color: white;
  }

  a:active {
        color: white;
  }

  .footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   word-spacing: 50px;
  }

  #box > div {
    display: inline-block;
  }

  .picture {
    width: 450px;
    margin: 0 5px;
    padding: 50px 0;
  }


  .pic {
    height: 100%;
    position: relative;
    text-align: center;
  }

  .newprice {
    color: green;
    font-weight: bold;
    font-size: large;
  }

  .oldprice {
    text-decoration: line-through;
    color: grey;
    font-size: small;
  }

  #discount {
    display: flex;
    position: absolute;
    word-spacing: 300px;
    font-weight: bold;
    color: white;
    font-size: large;
    top: 80px;
    left: 10px;
  }

  .discountsolo {
    padding-left: 50px;
  }

  .discount1 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: green;
  }

  .discount2 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
  }
