* {
    margin: 0
   }

#navbar {
    background-color: black;
    padding: 20px;
}

ul {
    display:block;
    list-style-type: none;
    padding: 0 70px;
  }

  #products {
    color: white;
    float: right;
    text-transform: uppercase;
  }

  #products a {
    text-decoration: none;
    color: white;
  }

    a:visited {
    color: white;
  }

  a:active {
        color: white;
  }

  .footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   word-spacing: 50px;
  }